.signin-form-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 350px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
}

.signin-form-card {
  width: 100%;
}

.signin-form-submit {
  justify-content: center;
}

.MuiCardContent-root.signin-form-card-content {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  padding: 20px;
}

.signin-form-signup {
  margin-top: 25px;
}