

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.recipe-name {
  font-size: 25px;
  color: #424242;
  font-weight: 600;
  padding: 5px 30px 30px 30px;
}

.recipe-actions {
  margin-bottom: 5px;
}

.recipe-header-right {
  display: flex;
  flex-direction: column;
}

.recipe-info {
  color: #004d40;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.recipe-category {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}

.recipe-date {
  font-size: 16px;
  padding-top: 5px;
}

.recipe-description {
  margin-top: 15px;
}

.recipe-description-info {
  padding: 15px;
  color: #424242;
  text-align: end;
}


.recipe-description-main {
  display: flex;
  justify-content: space-between;
}

.recipe-description-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: flex-end;
}

.recipe-description-item {
  text-align: end;
  margin-bottom: 15px;
}

.recipe-description-item-name {
  color: #004d40;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.recipe-description-item-desc {
  line-height: 2;
}

.recipe-item-title {
  color: #004d40;
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  text-align: start;
  margin-bottom: 25px;
}

.recipe-steps {
  margin-top: 20px;
}

.recipe-steps-item {
  display: flex;
  margin: 15px;
}

.recipe-steps-item-index {
  margin-right: 20px;
  color: #424242;
  font-size: 20px;
  font-weight: 600;
}

.recipe-steps-item-desc {
  text-align: start;
  margin-left: 10px;
}

.recipe-ingredients-list {
  flex-direction: column;
  align-items: flex-start !important;
  text-align: start !important;
}

.recipe-ingredients {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.recipe-edit-button {
  margin-bottom: 15px;
  padding: 7px;
  background-color: #71605a;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}

.MuiTableCell-root.recipe-table-header {
  font-size: 17px;
}

.MuiTableRow-head {
  background-color:  #fbf3eb;
}

.recipe-author-name {
  color: #424242;
  padding-left: 15px;
}

.recipe-image-show {
  height: 450px;
}

.recipe-image-show .recipe-item-image {
  height: inherit;
}

.recipe-stages-card {
  margin-bottom: 5px;
}

.recipe-stages-card-content.MuiCardContent-root {
  padding: 5px;
}

.recipe-stages-card-content.MuiCardContent-root:last-child {
  padding-bottom: 10px;
}

.recipe-loading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}