.recipe-create-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-recipe-selectors {
  display: flex;
  justify-content: space-between;
}

.recipe-ingr-form {
  display: flex;
}

.create-recipe-selectors .MuiInput-underline:after {
  border-bottom: 2px solid #16612c;
}

.recipe-upload-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe-image {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.recipe-image-name {
  color: #71605a;
  margin-bottom: 15px;
}

.img-preview {
  width: 70%;
}

.recipe-image-content {
  display: flex;
  align-items: flex-start;
}