.recipe-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-recipe-selectors {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.recipe-delete-icon {
  margin-left: 15px;
}

.recipe-form-stages {
  margin-top: 15px;
}

.recipe-stages-form {
  display: flex;
  align-items: flex-start;
}

.recipe-stages-step {
  width: 6%;
}

.recipe-ingredient-form {
  display: flex;
}

.create-recipe-selectors .MuiInput-underline:after {
  border-bottom: 2px solid #16612c;
}

.recipe-upload-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe-image {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.recipe-image-name {
  color: #71605a;
  margin-bottom: 15px;
}

.img-preview {
  width: 70%;
}

.recipe-image-content {
  display: flex;
  align-items: flex-start;
}

.recipe-ingredient-form {
  display: flex;
  justify-content: space-between;
}

.MuiFormControl-root.recipe-ingredient-name {
  width: 65%;
  margin-right: 5px;
}

.ingredient-forms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ingredient-alt-forms {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.MuiFormControl-root.recipe-ingredient-amount {
  width: 20%;
  margin-right: 5px;
}

.MuiButton-root.recipe-create-button { 
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px;
  background-color: #71605a;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.ingredient-forms-error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  padding: 5px;
  border-radius: 4px;
}
